<h1 class="sTitle">Reach Us</h1>
<div class="scrollWrap">
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview">
            <div class="colS" style="width:212px;">
                <form method="post" action="contact-send.php" id="cForm">
                    <div><label for="name">Name (*)</label><input id="name" type="text" name="name" /></div>
                    <div><label for="email">Email (*)</label><input id="email" type="text" name="email" /></div>
                    <div><label for="subject">Subject</label><input id="subject" type="text" name="subject" /></div>
                    <div><label for="form_message">Message (*)</label><textarea id="form_message" rows="10" cols="40" name="message"></textarea></div>
                    <div><input id="form_submit" type="submit" name="submit" value="Submit" /></div>
                    <p class="hide" id="response"></p>
                    <div class="hide">
                        <label for="spamCheck">Do not fill out this field</label>
                        <input id="spamCheck" name="spam_check" type="text" value="" />
                    </div>
                </form>
            </div>
            <div class="colS">
                <img src="{{ STATIC_URL }}images/gMap-temp.gif" class="gMap" alt="Google Map" />
            </div>
        </div>
    </div>
</div>