<h1 class="sTitle inlineBlock" style="display:inline-block">Our Mission</h1>
<div class="scrollWrap">
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview">
            <p class="mission">Keep Austin Waggin’ believes in just <b>that</b>; making sure our furry friends wag their tails without a worry in the world.  Keep Austin Waggin’ was born through the understanding of how important it is to keep your pet <b>happy</b> and <b>healthy</b>. We will provide you peace of mind and your dog plenty of attention to suit his or her needs. Every dog is <b>unique</b> and we look forward to sitting down with you to discuss their personality.
                Belly rubs, treats & fetch are our expertise; let us take a load off your paws.</p>
            <div class="col">
                <h2>Sarah</h2>
                <img src="{{ STATIC_URL }}images/profiles/sarah-wide.jpg" alt="Sarah" class="conImg profile" />
                <div class="clear"></div>
                <p>Sarah is a native of South Texas, UT college graduate and boxer enthusiast. She has owned a variety of dogs ranging from chihuahas to boxers to pitbulls, and is studying at ACC to be a certified veterinary assistant.</p>
            </div>
            <div class="col" style="padding-right:0; float:right;">
                <img src="{{ STATIC_URL }}images/profiles/doglady.jpg" alt="Dogs" class="white-border" />
            </div>
        </div>
    </div>
</div>
