<div id="dog-walks-modal" class="modal hide fade" >
    <div class="modal-header">
        Dog Walks
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">body</div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div id="home-visits-modal" class="modal hide fade" >
    <div class="modal-header">
        Home Visits
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">body</div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<!--<div id="dog-walking-modal" class="modal hide fade" >-->
    <!--<div class="modal-header">-->
        <!--Dog Walks-->
        <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
    <!--</div>-->
    <!--<div class="modal-body">body</div>-->
    <!--<div class="modal-footer">-->
        <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="dog-walking-modal" class="modal hide fade" >-->
    <!--<div class="modal-header">-->
        <!--Dog Walks-->
        <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
    <!--</div>-->
    <!--<div class="modal-body">body</div>-->
    <!--<div class="modal-footer">-->
        <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
    <!--</div>-->
<!--</div>-->

