<h1 class="sTitle inlineBlock" style="display:inline-block">Pet Sitting</h1>
<div class="scrollWrap">
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview">
            <div class="col">
                <h2>Going out of town? We have two options to fit your pet's personality.</h2>
                <p>For In-Home Visits and Boarding initial meeting is at no cost. This is to insure your pet is comfortable with our staff and to design a plan that is tailored to your pets needs.</p>

                <h3>In-home visit</h3>
                <p class="priceable">Home visit for a minimum of 30-minutes to check-in on pets. When applicable, visits include play time, feeding, cage-cleaning, yard waste clean-up, and home security check.</p>
                <p class="inlineBlock floatRight price">$15</p>
                <div class="clear"></div>
                <p>*add $5 for holiday services Easter, 4th of July, Labor Day, Thanksgiving, Christmas Eve/Day, New Year’s Eve/Day</p>

                <h3>Boarding</h3>
                <p>Our boarding is limited.  Please contact us for more information.</p>

                <p><i>First dog $30 per night
                    Second dog additional $20 per night
                    <br />
                    *add $5 for holiday services Easter, 4th of July, Labor Day, Thanksgiving, Christmas Eve/Day, New Year’s Eve/Day</i></p>
            </div>
            <div class="col" style="padding-right:0; float:right;"> <!-- SKILLS [BEGIN] -->
                <h2>FAQ</h2>
                <h3 class="skillCat skillOn">What vaccinations does my dog require?</h3>
                <div class="skillContainer">
                    <p>Bordatella, Rabies & Distemper</p>
                </div>
                <h3 class="skillCat skillOn">Does my pet need to be spayed/neutered?</h3>
                <div class="skillContainer">
                    <p>Yes.</p>
                </div>
                <h3 class="skillCat skillOn">Will my pet be alone overnight?</h3>
                <div class="skillContainer">
                    <p>Not when boarding at our location. Staff will be present from 9 pm until 7 am.</p>
                </div>
                <h3 class="skillCat skillOn">What should I bring for boarding?</h3>
                <div class="skillContainer">
                    <p>We provide toys, bedding/kennel, complimentary snacks and dinner if appropriate. If your pet has special dietary needs we can discuss this at our meet n’ greet.</p>
                </div>
                <h3 class="skillCat skillOn">Will you administer medication?</h3>
                <div class="skillContainer">
                    <p>We will administer pills in pill pocket form, anything else will need to be discussed prior to boarding.</p>
                </div>
                <h3 class="skillCat skillOn">Is potty trained required for boarding?</h3>
                <div class="skillContainer">
                    <p>It is not a necessity but is highly suggested. Staff can discuss routines with you at meet n’ greet.</p>
                </div>
                <h3 class="skillCat skillOn">What are pick up and drop off times for boarding?</h3>
                <div class="skillContainer">
                    <p>Part of what we strive to offer is flexibility. We will do our best to meet your scheduling needs. Suggested time frames for drop off/pick up are:
                        <br />
                        6:30 am - 9:00 am
                        <br />
                        4:30 pm - 8:00 pm</p>
                </div>
                <h3 class="skillCat skillOn">When will i meet my sitter?</h3>
                <div class="skillContainer">
                    <p>After completion of pet survey, sitter will contact you to set up meet n’ greet.</p>
                </div>
            </div>
        </div>
    </div>
</div>