<h1 class="sTitle inlineBlock" style="display:inline-block">Daily Relief Walk</h1>
<h3 class="sSubTitle">6:30am-8:00pm</h3>
<div class="scrollWrap">
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview">
            <div class="col">
                <img src="{{ STATIC_URL }}images/riley1-400w.jpg" alt="Dog Walking" class="conImg" />
                <div class="clear"></div>
                <h2>Got a busy day?  Let us help!</h2>
                <p>Home visit for a minimum of 30-minutes for a leashed outing. Your pet will be able to stretch their legs, get some fresh air and have a potty break. Basic needs will also be taken care of on a case by case basis. (ex. refilling water bowl, treat reward, etc.)</p>
                <p class="floatRight inlineBlock price">$15</p>
                <div class="clear"></div>
                <p>*add $5 for holiday services Easter, 4th of July, Labor Day, Thanksgiving, Christmas Eve/Day, New Year’s Eve/Day</p>
            </div>
            <div class="col" style="padding-right:0; float:right;"> <!-- SKILLS [BEGIN] -->
                <h2>FAQ</h2>
                <h3 class="skillCat skillOn">Where will you be walking my dog?</h3>
                <div class="skillContainer">
                    <p>Your pet will be taken on a leashed walk within a one to two mile radius of your home.</p>
                </div>
                <h3 class="skillCat skillOn">What is your experience with different size dogs?</h3>
                <div class="skillContainer">
                    <p>We have a variety of experience from tea cup to large breed but do not anticipate walking more than two large breeds at a time. (50 lbs. & up) This is for our safety and your pets'.</p>
                </div>
                <h3 class="skillCat skillOn">What vaccinations does my dog require?</h3>
                <div class="skillContainer">
                    <p>Bordatella, Rabies & Distemper</p>
                </div>
                <h3 class="skillCat skillOn">Does my pet need to be spayed/neutered?</h3>
                <div class="skillContainer">
                    <p>Yes.</p>
                </div>
                <h3 class="skillCat skillOn">Is Keep Austin Waggin' insured?</h3>
                <div class="skillContainer">
                    <p>Yes.  We are insured by Kennel Pro.</p>
                </div>
            </div>
        </div>
    </div>
</div>