<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Keep Austin Waggin'</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kaw.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Keep Austin Waggin'
        </a>
        <ul class="nav">
          <li class="active">
            <a href="#">Our Mission</a>
          </li>
          <li><a href="#">Dog Walking</a></li>
          <li><a href="#">Pet Sitting</a></li>
          <li><a href="#">Reach Us</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-header">
      <img class="header-img" src="{{ STATIC_URL }}img/dogs/headers/natty2-blur.jpg" />
      <h2>Belly rubs, treats, and fetch are our expertise.  Let us take a load off your paws.</h2>
    </div>
    <div class="hero-unit">
      <h1>Our Mission</h1>
      <p>
        <strong>Keep Austin Waggin</strong> was born through the understanding of how important it is to keep your pet <em>happy</em> and <em>healthy</em>. We will provide you peace of mind and your dog plenty of attention to suit his or her needs. Every dog is <em>unique</em> and we look forward to sitting down with you to discuss their personality.
      </p>
    </div>
    <div class="row">
      <div class="span12">
        <h1>Sarah</h1>
        <p>Sarah is a native of South Texas, UT college graduate and boxer enthusiast. She has owned a variety of dogs ranging from chihuahas to boxers to pitbulls, and is studying at ACC to be a certified veterinary assistant.</p>
      </div>
    </div>
    <div class="row sarah-pics">
      <div class="span4">
        <p>
          <img src="{{ STATIC_URL }}img/profiles/sarah/doglady.jpg" />
        </p>
      </div>
      <div class="span4">
        <p>
          <img src="{{ STATIC_URL }}img/profiles/sarah/doglady-2.jpg" />
        </p>
      </div>
      <div class="span4">
        <p>
          <img src="{{ STATIC_URL }}img/profiles/sarah/doglady-3.jpg" />
        </p>
      </div>
    </div>
  </div>
</body>
</html>