<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Keep Austin Waggin'</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipTip.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cufon-yui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/League_Gothic_400.font.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.minified.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tinyscrollbar.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
</head>
<body>
<!-- BACKGROUND SLIDESHOW -->
<div id="header">
    <div id="headerimgs">
        <div id="headerimg1" class="headerimg"></div>
        <div id="headerimg2" class="headerimg"></div>
    </div>
</div>
<div id="content">
    <div class="slide-panel" id="home">
        {% include "_walking.html" %}
    </div>
    <div class="slide-panel slideHide" id="boarding" style="display: none">
        {% include "_boarding.html" %}
    </div>
    <div class="slide-panel slideHide" id="contact" style="display: none">
        {% include "_contact.html" %}
    </div>
    <div class="slide-panel pf slideHide" id="portfolio" style="display: none">
        {% include "_gallery.html" %}
    </div>
    <div class="slide-panel slideHide" id="aboutus" style="display: none">
        {% include "_meetus.html" %}
    </div>
    <div class="slide-panel slideHide" id="calendar" style="display: none">
        {% include "_calendar.html" %}
    </div>
</div>
<!-- MENU AND LOGO -->
<div id="menu">
    <ul>
        <li><a href="#" class="btn1" title="Dog Walking">Dog Walking</a></li>
        <li><a href="#" class="btn2" title="Boarding">Boarding</a></li>
        <li><a href="#" class="btn3" title="Contact Us">Reach Us</a></li>
        <li><a href="#" class="btn4" title="Gallery">Gallery</a></li>
        <li><a href="#" class="btn5" title="Meet Us">Meet Us</a></li>
        <li><a href="#" class="btn6" title="Calendar">Calendar</a></li>
    </ul>
</div>
<script type="text/javascript">
    Cufon.now();
</script>
</body>
</html>
