{% extends "base.html" %}
{% block content %}
<div class="slide-panel slideHide" id="home" style="display: none">
    {% include "_walking.html" %}
</div>
<div class="slide-panel slideHide" id="boarding" style="display: none">
    {% include "_boarding.html" %}
</div>
<div class="slide-panel slideHide" id="contact" style="display: none">
    {% include "_contact.html" %}
</div>
<div class="slide-panel pf slideHide" id="portfolio" style="display: none">
    {% include "_gallery.html" %}
</div>
<div class="slide-panel slideHide" id="aboutus" style="display: none">
    {% include "_meetus.html" %}
</div>
<div class="slide-panel slideHide" id="calendar" style="display: none">
    {% include "_calendar.html" %}
</div>
<div class="slide-panel" id="thanks">
    <h1 class="sTitle inlineBlock" style="display:inline-block">Thanks!</h1>
    <h2>You'll hear back from us soon.</h2>
</div>
{% endblock %}